@charset "UFT-8";

body{
 background-image: linear-gradient(to left, #57A038, #4E753D,#323830);
 margin: 0;
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
div{
    background-image: linear-gradient(to left, #3A4B33);
    text-align: center;
    
    margin: auto;
    width: 90%;
    max-width: 300px;
    height: 380px;
    align-items: center;
    border: 3px rgb(255, 255, 255) solid;
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.623);
    
    
}
h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.61);
    padding-bottom: 10px;
}
label{
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
   
}
textarea{
    resize: none;
    padding: 7px;
    border-radius: 7px;
     box-shadow: 4px 4px rgba(0, 0, 0, 0.123);
}


input{
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 7px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.123);
 ;
}
a{
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 17px ;
    border-radius: 15px;
    display: block;
    text-align: center;

    
}


a:hover{
    color: rgb(255, 243, 243);
    background-color: rgba(255, 255, 255, 0.158);
    transition-duration: 0.5s;
}